* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.container {
    max-width: 1370px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #cccccc67;
}

.nav {
    margin: 20px auto;
}
.logo{
    max-width: 150px;
}
