<section class="container details_section">
    <div class="image">
            <img  [src]="card?.photo" alt="">
        </div>
    <div>
        <h2>{{card?.title}}</h2>
        <p>{{card?.text}}</p>
            <form [formGroup]="form" (submit)="send()">
                <div>
                    <label for="name">FIO</label>
                </div>
                <input type="text" id="name" name="name" formControlName="name">
                <div>
                    <label for="comment">Comment</label>
                </div>
                <input type="text" id="comment" name="comment" formControlName="comment">
                <p>
                    <button type="submit">Send</button>
                </p>
            </form>
        </div>
        
</section>